{% extends 'base.html' %}
{% block title %}About {% endblock %}


{% block content %}
{% load static %}
{% load humanize %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Acerca de Sueños Habitables</h1>
            <p class="lead">Tu mejor opción para encontrar el hogar de tus sueños.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                Bienvenido a Sueños Habitables, la empresa líder en el mercado inmobiliario dedicada a ayudarte a encontrar el hogar perfecto. Fundada con el propósito de transformar el proceso de búsqueda y alquiler de propiedades, nuestro compromiso es ofrecerte una experiencia sin igual, llena de comodidad y seguridad.
            </p>
            <p>
                En Sueños Habitables, entendemos que la búsqueda de un hogar es una decisión importante y personal. Por eso, nuestro equipo de expertos está siempre disponible para guiarte en cada paso del camino. Desde la selección de inmuebles hasta el cierre del contrato, nos aseguramos de que cada detalle sea atendido con la máxima profesionalidad y atención.
            </p>
            <p>
                Nuestro portafolio incluye una amplia gama de propiedades, desde acogedores apartamentos en el corazón de la ciudad hasta espaciosas casas en tranquilos suburbios. Cada inmueble ha sido cuidadosamente seleccionado para cumplir con los más altos estándares de calidad, garantizando así tu satisfacción y bienestar.
            </p>
            <p>
                Además, en Sueños Habitables estamos comprometidos con la innovación. Utilizamos la última tecnología para hacer que el proceso de búsqueda sea más eficiente y accesible. Nuestro sitio web intuitivo y fácil de usar te permite explorar todas nuestras ofertas desde la comodidad de tu hogar, filtrando por ubicación, precio, y características específicas para encontrar exactamente lo que estás buscando.
            </p>
            <p>
                La transparencia y la integridad son pilares fundamentales de nuestra empresa. Nos enorgullece mantener relaciones de confianza con nuestros clientes, ofreciendo siempre información clara y precisa sobre cada propiedad. Sabemos que un hogar no es solo un lugar, sino un espacio donde se crean recuerdos y se construyen vidas, y nos esforzamos por hacer de cada alquiler una experiencia positiva y memorable.
            </p>
            <p>
                Te invitamos a descubrir todo lo que Sueños Habitables tiene para ofrecer. Explora nuestras propiedades, conoce a nuestro equipo y déjanos ayudarte a encontrar el hogar de tus sueños. Gracias por elegirnos como tu aliado en esta importante etapa de tu vida. Estamos aquí para hacer que tu experiencia sea única y satisfactoria.
            </p>
        </div>
    </div>
</div>

{% endblock %}