<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - Sueños Habitables</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Dashboard</h1>
        <ul class="nav nav-tabs">
            {% if user.tipo_usuario == 'Arrendatario' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'agregar_inmueble' %}">Agregar Inmueble</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mis_inmuebles' %}">Mis Inmuebles</a>
                </li>
            {% elif user.tipo_usuario == 'Arrendador' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mis_inmuebles' %}">Mis Inmuebles Arrendados</a>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content mt-4">
            <!-- Aquí se mostrarán las secciones del dashboard según el usuario -->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
